.todo{
    padding: 1rem 2rem;
    font-family: var(--font-pri);
}

.todo-content{
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
}

.todo-content span{
    font-size: 20px;
    font-weight: 700;
    color:whitesmoke
}

::placeholder{
    color: white;
}

.todo-content input{
    border: none;
    border-bottom: 3px solid var(--color-light);
    font-size: 17px;
    padding: 1rem;
    background-color:#3282B8;
    border-radius: 5px;
    width: 60%;
    color: black;
    margin-bottom: 5px;
    outline: none;
}
.todo-content input:first-of-type{
    margin-bottom: 1rem;
}

.todo-content button{
    padding: 1rem;
    background-color: var(--color-light);
    border: none;
    max-width: fit-content;
    display: flex;
    margin-top: 1rem;
    border-radius: 10px;
    font-weight: 600;
    align-self: center;
    border: 1px solid #ff008c;
}

@media screen and (max-width:900px){
    .todo{
        padding: 1rem 1.5;
    }

    .todo-content span{
        font-size: 16px;
    }

    .todo-content input{
        border-bottom: 2px;
        font-size: 14px;
        padding: 0.8rem;
        width: 90%;
    }

    .todo-content button{
        padding: 0.6rem;
    }
}