.todoList{
    padding: 1rem 2rem;
}

.todoList-content{
    display: flex;
    flex-direction: column;
}

.NoTodo{
    color: yellow;
    text-align: center;
    text-transform: capitalize;
}

.todoList-list{
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 5px;
}

/* @media screen and (max-width: 900px){
    .todoList{
    }
} */