@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;400;500;600;700&family=Vina+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Foldit:wght@200;300;400;500;600;700;800;900&display=swap');

:root{
    --font-bold: 'Vina Sans', cursive;
    --font-head: 'Foldit', sans-serif;
    --font-pri:  'IBM Plex Sans', sans-serif;

    --color-orange: #f49867;
    --color-dark: #2F8F9D;
    --color-medium: #3BACB6;
    --color-light: #82DBD8;
    --color-extraLight: #B3E8E5;
    --color-footer: #00BCD4;
    
    --gradient-cyan: linear-gradient(to right, #2F8F9D 5%, #82DBD8 54%);
    --gradient-darkCyan: linear-gradient(117deg, rgba(47, 143, 157, 1) 0%, rgba(59, 172, 182, 1) 49%, rgba(47, 143, 157, 1) 100%);

}
body{
    background-color: var(--color-light);
    font-family: var(--font-pri);
}

h1{
    font-size: 40px;
    margin-bottom: 2rem;
    letter-spacing: 0.2rem;
    color:powderblue;
    text-align: center;
}

.bg-gradient-color{
    background:linear-gradient(117deg, rgba(47, 143, 157, 1) 0%, rgba(59, 172, 182, 1) 49%, rgba(47, 143, 157, 1) 100%);
}

.bg-gradient-color-Light{
    background:linear-gradient(148deg, rgba(59, 172, 182, 1) 0%, rgba(130, 219, 216, 1) 51%, rgba(59, 172, 182, 1) 100%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


a{
    text-decoration: none;
    list-style: none;
}

li{
    list-style: none;
    text-decoration: unset;
    color: unset;
}

.section-padding{
    padding: 5rem 3rem;
}
.section-margin{
    margin: 5rem 3rem;
}

@media screen and (max-width: 900px) {
    h1{
    font-size: 32px;
    margin-bottom: 1.6rem;
    letter-spacing: 0.2rem;
    }

    .section-padding{
        padding: 4rem 2rem;
    }
    .section-margin{
        margin: 4rem 2rem;
    }
}

@media screen and (max-width: 450px){
    h1{
    font-size: 25px;
    margin-bottom: 0px;
    letter-spacing: normal;
    }

    .section-padding{
        padding: 3rem 1.5rem;
    }
    .section-margin{
        margin: 3rem 1.5rem;
    }
}

.box-shadow{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.box-shadow2{
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
  
.box-shadow3{
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

  